{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}Cook List{% endblock %}

{% block content %}
  <h2>Cook List</h2>
  <form method="get" action="" class="form-inline">
    {{ search_form|crispy }}
    <input class="btn btn-secondary" type="submit" value="🔍">
  </form>
  {% if cook_list %}
    <ul>
      {% for cook in cook_list %}
        <li>
          <a href="{% url 'kitchen:cook-detail' cook.pk %}">{{ cook.username }}</a>
        </li>
      {% endfor %}
    </ul>
    {% include "includes/pagination.html" with page_obj=page_obj %}
  {% else %}
    <p>No cooks available.</p>
  {% endif %}
  <a href="{% url 'kitchen:cook-create' %}" class="button">Create New Cook</a>
{% endblock %}
